@charset "utf-8";
//主颜色
$mc1: #0079c3;
$mc2: #DAB96B;
$mco28: rgba(218, 185, 107, .8);
$mco29: rgba(218, 185, 107, .9);
$mco13: rgba(0, 97, 174, .3);
$mc3: #E6DFD2;
$mc4: #383632;
$mc5: #F5E3B8;
$mc6: #6C5D39;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
$fc4: #707070;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
$hc4: #DBDBDB;

$bc1: #ededed;

$white: #fff;
$black: #000;
$black-3: rgba(0,0,0,.3);