.edu1{
    background: $white;
    padding-bottom: 80px;
    .edu-t{
        position: relative;
        padding: 120px 0;
        margin-bottom: 32px;
        @include bg;
        background-image: url(../img/job_bg1.jpg);
    }
    .ab-title .ch{
        color: $mc2;
    }
    .dec-en{
        margin-top: 55px;
    }
    .edu-cap{
        position: absolute;
        left: 50%;
        margin-left: -32px;
        bottom: -32px;
    }
    .edu-b{
        width: 800px;
        margin: 0 auto;
        max-width: 90%;
        padding-top: 110px - 32px;
        .dec-wrap{
            margin-bottom: 25px;
        }
    }
    .edu-video{
        margin-bottom: 90px;
    }
    @media screen and (max-width:861px) {
        .edu-b{
            padding-top: 60px;
        }
        .edu-video{
            margin-bottom: 70px;
        }
    }
    @media screen and (max-width:601px) {
        padding-bottom: (80 / 600) * 100vw;
        .edu-t{
            padding: (120 / 600) * 100vw 0;
        }
        .dec-en{
            margin-top: (55 / 600) * 100vw;
        }
        .edu-b{
            padding-top: 10vw;
            .dec-wrap{
                margin-bottom: (25 / 600) * 100vw;
            }
        }
        .edu-video{
            margin-bottom: (70 / 600) * 100vw;
        }
    }
}

.edu-video{
    position: relative;
    .pai{
        padding-bottom: (450 / 800) * 100%;
    }
    @media screen and (max-width:861px) {
        padding: 30px;
    }
    @media screen and (max-width:481px) {
        padding: 20px;
    }
}

#vPlay{
    position: absolute;
    @include tblr;
    z-index: 9;
}

.dec-border{
    &:after, &:before{
        @include ba;
        border: 1px solid $mc2;
    }
    &:before{
        top: -15px;
        bottom: -15px;
        left: -25px;
        right: -25px;
    }
    &:after{
        top: -30px;
        bottom: -30px;
        left: -40px;
        right: -40px;
    }
    .square{
        position: absolute;
        width: 14px;
        height: 14px;
        box-sizing: content-box;
        &:before{
            @include ba;
            top: 50%;
            left: 50%;
            margin: -3px 0 0 -3px;
            width: 6px;
            height: 6px;
            background: $mc2;
        }
    }
    .square1{
        top: -29px;
        left: -39px;
        border-right: 1px solid $mc2;
        border-bottom: 1px solid $mc2;
    }
    .square2{
        top: -29px;
        right: -39px;
        border-left: 1px solid $mc2;
        border-bottom: 1px solid $mc2;
    }
    .square3{
        bottom: -29px;
        right: -39px;
        border-left: 1px solid $mc2;
        border-top: 1px solid $mc2;
    }
    .square4{
        bottom: -29px;
        left: -39px;
        border-right: 1px solid $mc2;
        border-top: 1px solid $mc2;
    }
    @media screen and (max-width:861px) {
        &:after{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &:before{
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
        }
        .square1{
            top: 1px;
            left: 1px;
        }
        .square2{
            top: 1px;
            right: 1px;
        }
        .square3{
            bottom: 1px;
            right: 1px;
        }
        .square4{
            bottom: 1px;
            left: 1px;
        }
    }
    @media screen and (max-width:481px) {
        &:before{
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        .square{
            width: 9px;
            height: 9px;
            &:before{
                width: 3px;
                height: 3px;
                margin: 0;
                top: 3px;
                left: 3px;
            }
        }
    }
}

.edu2{
    padding: 100px 0 45px;
    @include bg;
    background-image: url(../img/job_bg1.jpg);
    .ab-title .ch{
        color: $mc2;
    }
    .dec-wrap{
        margin-top: 65px;
    }
    .dec-en{
        margin-top: 25px;
    }
    .ab-title{
        margin-bottom: 70px;
    }
    .his-tx-list{
        margin-top: 80px;
    }
    @media screen and (max-width:601px) {
        padding-top: (100 / 600) * 100vw;
        .dec-wrap{
            margin-top: (65 / 600) * 100vw;
        }
        .dec-en{
            margin-top: (25 / 600) * 100vw;
        }
        .ab-title{
            margin-bottom: (75 / 600) * 100vw;
        }
        .his-tx-list{
            margin-top: (80 / 600) * 100vw;
        }
    }
}

.edu3{
    padding: 85px 0;
    .ab-title{
        margin-bottom: 50px;
    }
    @media screen and (max-width:601px) {
        padding: (85 / 600) * 100vw 0;
        .ab-title{
            margin-bottom: (50 / 600) * 100vw;
        }
    }
}

.edu4{
    padding: 100px 0 120px;
    background: $white;
    .freeTx{
        margin-top: 35px;
        font-size: 20px;
        line-height: 1.6;
        color: $fc1;
    }
    .more{
        margin-top: 60px;
    }
    @media screen and (max-width:601px) {
        padding: (90 / 600) * 100vw 0 (100 / 600) * 100vw;
        .more{
            margin-top: 10vw;
        }
        .freeTx{
            margin-top: (35 / 600) * 100vw;
            font-size: 18px;
        }
    }
    @media screen and (max-width:481px) {
        .freeTx{
            font-size: 16px;
        }
    }
}

.edu-link-list{
    li{
        position: relative;
        z-index: 9;
        width: 320px;
        padding: 50px 0;
        margin: 0 30px;
        @media screen and (min-width:1025px) {
            &:hover{
                .circle, .circle:before, .circle:after{
                    transform: rotateY(180deg);
                }
            }
        }
    }
    a{
        @include di;
        @include c(220px);
        background: $mc2;
        padding-top: 70px;
        color: $fc1;
    }
    .ch{
        font-size: 32px;
        line-height: 1.3;
    }
    .en{
        font-size: 18px;
        font-weight: bold;
    }
    .more{
        margin-top: 40px;
        color: $mc6;
        font-size: 12px;
    }
    @media screen and (max-width:861px) {
        li{
            width: 176px + 60px;
            padding: 30px 0;
            margin: 0 20px;
        }
        .ch{
            font-size: 26px;
        }
        .en{
            font-size: 16px;
        }
        a{
            width: 176px;
            height: 176px;
            padding-top: 56px;
        }
        .more{
            margin-top: 32px;
        }
    }
    @media screen and (max-width:641px) {
        .ch{
            font-size: 22px;
        }
        .en{
            font-size: 14px;
        }
        a{
            width: 148px;
            height: 148px;
            padding-top: 45px;
        }
        .more{
            margin-top: 25px;
        }
        li{
            width: 148px + 60px;
        }
    }
    @media screen and (max-width:601px) {
        li{
            width: 148px + 40px;
            padding: 20px 0;
            margin: 0 10px;
        }
    }
    @media screen and (max-width:481px) {
        li{
            width: 148px + 80px;
            padding: 40px 0;
            + li{
                margin-top: 10vw;
            }
        }
    }
}

.dec-circle{
    .circle, .circle:before, .circle:after{
        position: absolute;
        border: 1px solid $fc4;
        border-radius: 50%;
        @include mt6;
    }
    .circle:before, .circle:after{
        content: "";
    }
    .circle{
        z-index: -1;
        &:before{
            top: 4px;
            bottom: 4px;
            left: 4px;
            right: 4px;
        }
        &:after{
            top: 9px;
            bottom: 9px;
            left: 9px;
            right: 9px;
        }
    }
    .circle1{
        @include tblr;
    }
    .circle2{
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
    .circle3{
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    .circle4{
        top: 45px;
        bottom: 45px;
        left: 45px;
        right: 45px;
    }
}

.edu5{
    padding: 160px 0;
    @media screen and (max-width:601px) {
        padding: (160 / 600) * 100vw 0;
    }
}

.edu6{
    position: relative;
    padding: 100px 0 (280 / 1920) * 100%;
    .dec-img{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .ab-title{
        margin-bottom: 60px;
    }
    @media screen and (max-width:601px) {
        padding-top: (100 / 600) * 100vw;
        .ab-title{
            margin-bottom: 10vw;
        }
    }
}

.dec-frame{
    position: relative;
    z-index: 9;
    background: $white;
    border: 2px solid $mc2;
    padding: 8px;
    &:before{
        @include ba;
        z-index: -1;
        top: 7px;
        bottom: 7px;
        left: 7px;
        right: 7px;
        border: 1px solid $mc2;
    }
    .dec-wrap{
        position: absolute;
        left: 50%;
        top: -8px;
        margin-left: -(78px / 2);
        background: $white;
        border-left: 3px solid $mc2;
        border-right: 3px solid $mc2;
        padding: (22px - 16px) / 2 12px;
    }
    .dec-en{
        @include plr;
        bottom: -4px;
        span{
            background: $white;
        }
    }
    .wrap{
        padding: 50px 5%;
        @media screen and (max-width:601px) {
            padding-top: (50 / 600) * 100vw;
            padding-bottom: (50 / 600) * 100vw;
        }
    }
}

.edu-honor-list{
    li{
        width: 50%;
        padding: 0 30px;
        float: left;
        text-align: center;
        line-height: 2.4;
    }
    @media screen and (max-width:861px) {
        li{
            width: 100%;
            padding: 0;
            line-height: 2;
        }
    }
}

.edu7{
    padding: 90px 0 50px;
    .ab-title{
        padding-left: 330px + 70px;
        margin-bottom: 70px;
    }
    .edu-logo{
        width: 330px;
        height: 330px;
        margin-right: 70px;
        float: left;
        border: 1px solid $mc2;
        text-align: center;
        img{
            vertical-align: bottom;
            max-width: 80%;
        }
    }
    @media screen and (max-width:1024px) {
        .edu-logo{
            margin-right: 50px;
        }
        .ab-title{
            padding-left: 330px + 50px;
        }
    }
    @media screen and (max-width:861px) {
        .edu-logo{
            width: 165px;
            height: 165px;
            margin-right: 30px;
        }
        .ab-title{
            padding-left: 165px + 30px;
            margin-bottom: 50px;
        }
    }
    @media screen and (max-width:641px) {
        .edu-logo{
            width: 100%;
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }
        .ab-title{
            padding-left: 0;
            text-align: center;
        }
    }
    @media screen and (max-width:601px) {
        padding-top: (90 / 600) * 100vw;
        .ab-title{
            margin-bottom: (50 / 600) * 100vw;
        }
    }
}

.goal-list{
    padding: 0 80px 80px;
    .ch{
        margin-bottom: 45px;
        line-height: 60px;
        color: $fc1;
        font-size: 44px;
    }
    .en{
        position: relative;
        padding-bottom: 25px;
        font-size: 24px;
        line-height: 1.4;
        &:before{
            @include ba;
            width: 18px;
            height: 2px;
            background: $fc2;
            bottom: 0;
            left: 50%;
            margin-left: -9px;
        }
    }
    .slick-arrow{
        background: none;
        margin-top: 0;
        top: 0;
        width: auto;
        height: auto;
        line-height: 60px;
        font-size: 40px;
        color: $mc2;
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
            }
        }
    }
    .slick-dots{
        bottom: 0;
        li{
            position: relative;
            margin: 0;
            padding: 0 39px;
            border-radius: 0;
            background: none;
            width: auto;
            height: auto;
            line-height: 1;
            font-family: "iconfont" !important;
            font-size: 16px;
            box-sizing: content-box;
            letter-spacing: 0;
            cursor: pointer;
            &:before{
                @include ba;
                z-index: -1;
                left: 0;
                right: 0;
                top: 50%;
                border-top: 1px dashed $fc2;
            }
            &:after{
                content: "\e70b";
            }
            &:nth-child(1){
                &:before{
                    left: 50%;
                }
            }
            &:nth-last-child(1){
                &:before{
                    right: 50%;
                }
            }
            @media screen and (min-width:1025px) {
                &:hover{
                    color: $mc2;
                }
            }
        }
        .slick-active{
            color: $mc2;
        }
        a{
            display: none;
        }
    }
    @media screen and (max-width:1024px) {
        .ch{
            font-size: 36px;
            line-height: 48px;
        }
        .slick-arrow{
            line-height: 48px;
        }
    }
    @media screen and (max-width:861px) {
        .ch{
            margin-bottom: 35px;
            font-size: 28px;
            line-height: 38px;
        }
        .slick-arrow{
            line-height: 38px;
            font-size: 32px;
        }
        .en{
            font-size: 20px;
        }
        .slick-dots{
            li{
                padding: 0 30px;
            }
        }
    }
    @media screen and (max-width:601px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 70px;
        .ch{
            margin-bottom: 25px;
            font-size: 22px;
            line-height: 30px;
        }
        .slick-arrow{
            line-height: 30px;
            font-size: 24px;
        }
        .en{
            font-size: 16px;
        }
        .slick-dots{
            li{
                padding: 0 15px;
            }
        }
    }
    @media screen and (max-width:481px) {
        padding-bottom: 60px;
        .ch{
            font-size: 20px;
        }
        .en{
            padding-bottom: 15px;
            font-size: 14px;
        }
        .slick-arrow{
            font-size: 20px;
        }
        .slick-dots{
            li{
                font-size: 12px;
                padding: 0 10px;
            }
        }
    }
}

.edu8{
    padding: 100px 0 50px;
    .dec-en{
        margin-top: 80px;
    }
    .ab-title{
        margin-bottom: 70px;
    }
    @media screen and (max-width:861px) {
        padding-top: 90px;
        .ab-title{
            margin-bottom: 60px;
        }
    }
    @media screen and (max-width:601px) {
        padding-top: (90 / 600) * 100vw;
        .ab-title{
            margin-bottom: 10vw;
        }
        .dec-en{
            margin-top: (80 / 600) * 100vw;
        }
    }
}