<div class="header clearfix">
    <a href="index.html" class="logo"><img src="images/logo.png"/></a>
    <ul class="nav fib">
        <li class="ib"><a href="about.html" @@if (context.about==='act') { class="act" }>冠城集团</a></li>
        <li class="ib"><a href="edu.html" @@if (context.edu==='act') { class="act" }>冠城教育</a></li>
        <li class="ib"><a href="branch.html" @@if (context.branch==='act') { class="act" }>旗下院校</a></li>
        <li class="ib"><a href="sch.html" @@if (context.sch==='act') { class="act" }>冠城学院</a></li>
        <li class="ib"><a href="news.html" @@if (context.news==='act') { class="act" }>新闻中心</a></li>
        <li class="ib"><a href="job.html" @@if (context.job==='act') { class="act" }>人才招聘</a></li>
        <li class="ib"><a href="cta.html" @@if (context.cta==='act') { class="act" }>联系我们</a></li>
    </ul>
    <div class="h-link clearfix">
        <a href="#" class="ff-1 oa">OA</a>
        <a href="#" class="icon iconfont icon-erweima"></a>
    </div>
    <div class="menu-handler">
        <span class="burger burger-1 mtrans"></span>
        <span class="burger burger-2 mtrans"></span>
        <span class="burger burger-3 mtrans"></span>
    </div>
</div>
<!-- header -->
<div class="menuBox">
    <dl class="navMobile">
        <dd><a href="index.html">首页</a></dd>
        <dd><a href="about.html">冠城集团</a></dd>
        <dd><a href="edu.html">冠城教育</a></dd>
        <dd><a href="branch.html">旗下院校</a></dd>
        <dd><a href="sch.html">冠城学院</a></dd>
        <dd><a href="news.html">新闻中心</a></dd>
        <dd><a href="job.html">人才招聘</a></dd>
        <dd><a href="cta.html">联系我们</a></dd>
    </dl>
    <div class="ma"><img src="img/1.jpg" alt=""></div>
    <a href="#" class="oa">OA登录</a>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="menuBlack"></div>
<div class="mtop"></div>
