.header{
    height: 84px;
    line-height: 24px;
    .logo{
        position: absolute;
        width: 186px;
        top: (84px - 54px) / 2;
        left: 20px;
    }
    .nav{
        li{
            > a{
                display: block;
                padding: (84px - 24px) / 2 (48px / 2);
                color: $fc2;
                &.act{
                    color: $mc2;
                }
                @media screen and (min-width:1025px) {
                    &:hover{
                        color: $mc2;
                    }
                }
            }
        }
    }
    .h-link{
        position: absolute;
        top: 0;
        right: 20px;
        a{
            float: left;
            font-size: 14px;
            padding: (84px - 24px) / 2 0;
            @media screen and (min-width:1025px) {
                &:hover{
                    color: $mc2;
                }
            }
        }
        .oa{
            font-weight: bold;
        }
        .icon-erweima{
            margin-left: 44px;
            font-size: 20px;
        }
    }
    @media screen and (max-width:1366px) {
        .nav li>a{
            padding-left: 19px;
            padding-right: 19px;
        }
        .h-link{
            .icon-erweima{
                margin-left: 35px;
            }
        }
    }
    @media screen and (max-width:1201px) {
        .nav li>a{
            padding-left: 15px;
            padding-right: 15px;
        }
        .h-link{
            .icon-erweima{
                margin-left: 25px;
            }
        }
    }
    @media screen and (max-width:1024px) {
        height: 60px;
        .logo{
            left: 5%;
            width: 160px;
            top: (60px - 46px) / 2;
        }
        .h-link, .nav{
            display: none;
        }
        .menu-handler{
            transition: background 300ms;
            display: block;
            .burger{
                background: $fc2;
            }
            &.active{
                background: $mc1;
                .burger{
                    background: $white;
                }
            }
        }
    }
}

.menuBox{
    width: 320px;
    right: -320px;
    text-align: center;
    display: none;
    .ma{
        margin-top: 52px - 17px;
        > img{
            vertical-align: bottom;
            width: 88px;
            max-width: 90%;
            border: 1px solid $bc1;
        }
    }
    .oa{
        display: block;
        margin-top: 20px;
        background: $hc2;
        line-height: 56px;
        font-weight: bold;
    }
    .navMobile{
        padding-top: 30px;
        a{
            display: block;
            line-height: 1.4;
        }
        dd{
            > a{
                font-size: 14px;
                padding: (47px - 19px) / 2 5%;
                &.act{
                    background: $mc1;
                    color: $white;
                }
            }
        }
        .mtv{
            padding: 8px 0;
            background: $hc3;
            display: none;
            a{
                padding: 4px 5%;
                font-size: 12px;
            }
        }
    }
    @media screen and (max-width:481px) {
        width: 220px;
        right: -220px;
        .navMobile{
            padding-top: 35px;
            dd > a{
                padding-top: (39px - 19px) / 2;
                padding-bottom: (39px - 19px) / 2;
            }
        }
        .ma{
            margin-top: 25px;
        }
    }
}

.mtop{
    height: 84px;
    @media screen and (max-width:1024px) {
        height: 60px;
    }
}